rvc-python
tensorboardX
frontend
torch
soundfile
transformers
accelerate
pydub
autocorrect
num2words
pymupdf
gtts
pydub
mutagen
git+https://github.com/huggingface/parler-tts.git
customtkinter
CTkMenuBar
unidecode
pyttsx3