pyttsx3
tensorboardX
frontend
torch
soundfile
transformers
accelerate
pydub
autocorrect
num2words
pymupdf
gtts
mutagen
git+https://github.com/huggingface/parler-tts.git
git+https://github.com/Turtle358/MeloTTS
customtkinter
CTkMenuBar
unidecode
rvc-python # Used for rvc-python port requirements